{% extends "base.html" %}
{% block content %}
<h4 class="border-bottom mb-4">About</h4>
<div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum. Lorem sed risus ultricies tristique nulla aliquet enim. Lorem sed risus ultricies tristique nulla. Arcu cursus euismod quis viverra. Quam adipiscing vitae proin sagittis. Nisi quis eleifend quam adipiscing. Massa enim nec dui nunc mattis enim ut. Id cursus metus aliquam eleifend. Purus semper eget duis at tellus at urna condimentum mattis. Tempor commodo ullamcorper a lacus vestibulum sed arcu non.</p>
    <p>Commodo odio aenean sed adipiscing diam donec. Ullamcorper sit amet risus nullam eget felis eget. Adipiscing elit ut aliquam purus sit. Laoreet id donec ultrices tincidunt arcu. Ipsum faucibus vitae aliquet nec. Arcu felis bibendum ut tristique et egestas quis. Scelerisque viverra mauris in aliquam sem. Augue lacus viverra vitae congue eu consequat ac felis. In eu mi bibendum neque egestas congue. Nunc non blandit massa enim nec. Integer quis auctor elit sed vulputate mi sit. In tellus integer feugiat scelerisque varius morbi enim nunc. Nec dui nunc mattis enim ut tellus elementum sagittis vitae. Nam at lectus urna duis convallis convallis. Commodo elit at imperdiet dui.</p>
    <p class="fw-bold">History</p>
    <p>26.10.2022 - SHA256 has been upgraded to Bcrypt. The database was migrated with a new column "needs_rehashing"
    (True for all old accounts).
    From now on, every first login of old account will overwrite the old password within the new security system.</p>
</div>
{% endblock %}