<!-- Pagination Links-->
<div class="text-center">
    <a href="{{ url_for('blog.home', page=posts.prev_num) }}"
       class="btn btn-outline-dark
       {% if posts.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
<!-- Loop through the number of pages to display a link for each-->
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if posts.page == page_num %}
            <a href="{{ url_for('blog.home', page=page_num) }}"
               class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('blog.home', page=page_num) }}"
               class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('blog.home', page=posts.next_num) }}"
       class="btn btn-outline-dark
       {% if posts.page == posts.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-center mt-3">
   Showing page {{ posts.page }} of {{ posts.pages }}
</p>