{% extends "base.html" %}
{% block content %}
<h4 class="border-bottom mb-4">About</h4>
<div class="content p-3">
    <p class="pb-2">This website has been created for educational purposes. It can be successfully used as a personal blog and be expanded. During the development of this web application, I studied a lot about how websites work. The main topics I learned: </p>
        <ul>
            <li>Bootstrap to create basic front-end</li>
            <li>Flask framework and files structure for such an application</li>
            <li>CRUD operations with Flask and SQLalchemy</li>
            <li>SQL models with links</li>
            <li>PostgreSQL database management, migrations, pgAdmin 4</li>
            <li>utilize small flask modules to improve application</li>
            <li>authentication system, handling with user and admin permissions</li>
            <li>Google authorization</li>
            <li>the idea of passwords hashing and implementing it to a website</li>
            <li>sending reset password mails with tokens via JWT</li>
            <li>using cache to store temporary data with Redis</li>
            <li>async functions like sending emails, foundations of Celery with Redis</li>
        </ul>
</div>
{% endblock %}