{% extends "base.html" %}
{% block content %}
 <form method="POST" action="">
     {{ form.hidden_tag() }}
     <h4 class="border-bottom mb-4">Login</h4>
     <div class="form-group">
         {{ form.email.label(class="form-control-label") }}
         {{ form.email(class="form-control form-control-lg") }}
     </div>
          <div class="form-group">
         {{ form.password.label(class="form-control-label") }}
         {{ form.password(class="form-control form-control-lg") }}
     </div>
     <div class="form-group">
         {{ form.submit(class="btn-custom") }}
         <a href="{{ url_for('auth.reset_request') }}" class="ps-2"><small>Forgot Password?</small></a>
     </div>
     <hr>
     <div class="text-center pb-3">
         <a href="{{url_for('auth.google') }}">
             <img src="{{ url_for('static', filename='images/btn_google_signin_dark_focus_web.png') }}">
         </a>
     </div>
 </form>
{% endblock %}