{% extends "base.html" %}
{% block content %}
<div class="post-preview">
    <div class="container pb-3">
        <div class="post-meta pb-2">
                Posted by {{post.author.name}} in {{ post.date }}
                {% if current_user.role == "admin": %}
                    <div style="float:right;">
                        <a href="{{ url_for('admin.edit_post', post_id=post.id) }}">
                            <button type="button" class="btn btn-secondary btn-sm ms-auto">Edit</button>
                        </a>
                        <a href="{{ url_for('admin.delete_post', post_id=post.id) }}">
                            <button type="button" class="btn btn-danger btn-sm">Delete</button>
                        </a>
                    </div>
                {% endif %}
        </div>
        <hr class="post-preview-hr">
        <h2 class="post-title pb-3 pt-2">
            {{post.title}}
        </h2>
        <div class="post-subtitle" style="font-weight: bold;">
            {{post.subtitle}}
        </div>
        <div class="post-body">
            {{ post.body|safe }}
        </div>
    </div>
</div>
<!--Comments section-->
<div class="comment-title-bar py-2 ps-3">
    {% if post.post_comments|length == 1 %}
        <h4>1 Comment</h4>
    {% else %}
        <h4>{{ post.post_comments|length }} Comments</h4>
    {% endif %}
</div>
{% if current_user.is_authenticated %}
    <form method="POST" action="">
        {{ comment_form.hidden_tag() }}
            <div class="form-group">
                {{ comment_form.text.label(class="form-control-label") }}
                {{ comment_form.text(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ comment_form.submit(class="btn-custom btn-sm") }}
            </div>
    </form>
{% else %}
    <p class="p-3 text-center fw-bold">
        You have to be signed in to add comments.
        <a class="text-muted" href="{{ url_for('auth.login') }}">Login</a> or
        <a class="text-muted" href="{{ url_for('auth.register') }}">Register</a>
    </p>
{% endif %}
{% if post.post_comments %}
    <div class="comment-box">
        {% for comment in post.post_comments %}
            <div class="comment-image">
                <img src="{{ comment.comment_author.email | gravatar}}">
            </div>
            <div class="comment-author text-muted">
                <small>{{ comment.comment_author.name }}</small>
                {% if current_user.role == "admin": %}
                    <small>
                        <a style="color: red;" href="{{ url_for('admin.delete_comment', comment_id=comment.id) }}">✘</a>
                    </small>
                {% endif %}
                <small style="float: right; margin-right: 2.5%">{{ moment(comment.created_at).fromNow() }}</small>
            </div>
            <div class="comment">
                {{ comment.text }}
            </div>
            <br>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}